@charset "UTF-8";

.container, .buttonContainer {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 206px;
}
button {
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 1%;
	text-align: center;
	border: #000 2px solid;
	box-sizing: border-box;
}
.item {
	display: block;
	margin: 3px;
	padding: 10px;
	width: 200px;
	color: #fff;
	box-sizing: border-box;
}
.h285 {
	height:285px;
}
.h175 {
	height: 175px;
}
.h235 {
	height: 235px;
}
.h150 {
	height: 150px;
}

.blk {
	background: #000;
}

.darChar {
	background: #333;
}

.char {
	background: #666;
}

.grey {
	background: #999;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

@media screen and (min-width: 428px) {

	.container, .buttonContainer {
		width: 428px;
	}

}

@media screen and (min-width: 634px) {

	.container, .buttonContainer {
		width: 634px;
	}

}

@media screen and (min-width: 840px) {

	.container, .buttonContainer {
		width: 840px;
	}

}